@media (min-width: 1080px) {
	#body {
		transform: translateX(400px);
		width: calc(100% - 400px) !important;
	}

	.detailed > #body {
		transform: translateX(0);
		width: calc(100% - 400px) !important;
	}

	#details {
		width: 400px;
		right: 0;
	}

	#darken {
		z-index: -1;
	}

	#navbar {
		max-width: 400px;
		box-shadow: none !important;
		background: #111;
	}

	#header {
		background: #111;
	}

	#header .top i {
		opacity: 0;
		width: 0;
		padding-right: 0;
	}
}
